
# 产物目录
dist/
build/
.plasmo/
.history/
coverage/

# 依赖与锁文件
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock

# 临时文件
*.log
.DS_Store

# 其他不需要格式化的资源
assets/
public/
.dev/
.prettierrc.mjs
vite.userscript.config.ts
config.mts
.vscode/
.husky/